<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">
	<listeners>
		<listener class-name="Listener.ListenerClass"></listener>
	</listeners>

	<test name="SauceDemoTest">
		<classes>
			<class name="TestNG.SauceDemoClass"></class>
		</classes>
	</test>
</suite>